<?xml version="1.0" encoding="utf-8"?>
<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>

<!--
<node
	pkg="stage_ros"
	type="stageros"
	name="stage_app"
	respawn="false"
	args="$(find cmr_rrt)/data/my.world"
/>
-->
<!--
<node
	pkg="cmr_rrt"
	type="debug.py"
	name="robot control and diagnostic console"
	respawn="false"
	launch-prefix="urxvt -e"
/>
-->
<!--
<node
    pkg="cmr_rrt"
    type="rrt_planner.py"
    args="$(find cmr_rrt)/data/small_maze.png"
    name="rrt_planner"
    respawn="false"
/>

<node
    pkg="cmr_rrt"
    type="rrt_viz.py"
    args="$(find cmr_rrt)/data/easy_to_move_in_maze.png"
    name="rrt_visualizer"
    respawn="false"
/>
-->

</launch>
